@page "/gadgets"
@using Gadgets.Domain
@using Gadgets.Services.Queries
@inject IScopedMediator ScopedMediator
@attribute [StreamRendering]

<h3>Gadgets - Index</h3>

<div class="qgrid">

    <FluentDataGrid Id="gagdetsgrid" Items="@gadgets?.AsQueryable()" GridTemplateColumns="2fr 1fr 3fr"
                    Loading="@(gadgets == null)" TGridItem="Gadget">
        <PropertyColumn Title="Type" Property="@(c => c!.Type)" Align="Align.Start" />
        <PropertyColumn Title="Serial" Property="@(c => c!.SerialNo)" Align="Align.Start" />
    </FluentDataGrid>
</div>
@code {
    
    private Gadget[]? gadgets;

    protected override async Task OnInitializedAsync()
    {
        gadgets = await ScopedMediator.Send(new GetAllGadgetsQuery());
    }

}
